<a href="https://colab.research.google.com/github/Jacll/Imersao_Alura_Python/blob/main/Aula_1_Imers%C3%A3o_dados_com_Python_Alura_Agosto_2025.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##Utilizando a biblioteca Pandas


```
Uma biblioteca muito utilizada para Analise de Dados
A base de dados utilizada foi exportada do Kaggle
```

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("https://raw.githubusercontent.com/guilhermeonrails/data-jobs/refs/heads/main/salaries.csv") ##Ler a biblioteca pandas - Arquivo utilizado em aula - Ler uma base de dados usando Pandas - Arquivo CSV

In [4]:
df.head(10) ##Exibe as 5 primeiras linhas da tabela quando () esta vazio

,work_year,experience_level,employment_type,job_title,salary,salary_currency,salary_in_usd,employee_residence,remote_ratio,company_location,company_size
0,2025.0,SE,FT,Solutions Engineer,214000,USD,214000,US,100,US,M
1,2025.0,SE,FT,Solutions Engineer,136000,USD,136000,US,100,US,M
2,2025.0,MI,FT,Data Engineer,158800,USD,158800,AU,0,AU,M
3,2025.0,MI,FT,Data Engineer,139200,USD,139200,AU,0,AU,M
4,2025.0,EN,FT,Data Engineer,90000,USD,90000,US,0,US,M
5,2025.0,EN,FT,Data Engineer,80000,USD,80000,US,0,US,M
6,2025.0,SE,FT,Data Scientist,185000,USD,185000,US,0,US,M
7,2025.0,SE,FT,Data Scientist,148000,USD,148000,US,0,US,M
8,2025.0,MI,FT,Data Scientist,135000,USD,135000,CA,0,CA,M
9,2025.0,MI,FT,Data Scientist,108000,USD,108000,CA,0,CA,M

In [5]:
df.info() ##Exibe um resumo da tabela

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 133349 entries, 0 to 133348
Data columns (total 11 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   work_year           133339 non-null  float64
 1   experience_level    133349 non-null  object
 2   employment_type     133349 non-null  object
 3   job_title           133349 non-null  object
 4   salary              133349 non-null  int64
 5   salary_currency     133349 non-null  object
 6   salary_in_usd       133349 non-null  int64
 7   employee_residence  133349 non-null  object
 8   remote_ratio        133349 non-null  int64
 9   company_location    133349 non-null  object
 10  company_size        133349 non-null  object
dtypes: float64(1), int64(3), object(7)
memory usage: 11.2+ MB

In [6]:
df.describe() ##Exibe um resumo estatístico da tabela - Por que só mostra os valores numericos? Estamos usando dados estatisticos (Min/Max/Media)

           work_year        salary  salary_in_usd   remote_ratio
count  133339.000000  1.333490e+05  133349.000000  133349.000000
mean     2024.358770  1.632833e+05  157617.272098      20.905669
std         0.680627  2.173860e+05   74288.363097      40.590044
min      2020.000000  1.400000e+04   15000.000000       0.000000
25%      2024.000000  1.060200e+05  106000.000000       0.000000
50%      2024.000000  1.470000e+05  146206.000000       0.000000
75%      2025.000000  1.990000e+05  198000.000000       0.000000
max      2025.000000  3.040000e+07  800000.000000     100.000000

In [8]:
df.shape ##Um atributo - Dimensão do arquivo - quantidade de linhas 133349 x colunas 11
linhas, colunas = df.shape
print("Quantidade de linhas:", linhas)
print("Quantidade de colunas:", colunas)

Quantidade de linhas: 133349
Quantidade de colunas: 11

In [9]:
df.columns ##nome das colunas detalhadas

Index(['work_year', 'experience_level', 'employment_type', 'job_title',
       'salary', 'salary_currency', 'salary_in_usd', 'employee_residence',
       'remote_ratio', 'company_location', 'company_size'],
      dtype='object')

In [15]:
df.columns = ['Ano', 'Senioridade', 'Contrato', 'Cargo',
              'Salario', 'Moeda', 'USD', 'Residencia',
              'Remoto', 'Empresa', 'Tamanho_Empresa']
display(df.head(10)) ##Codigo usado por IA para fazer alteração do nome das colunas

,Ano,Senioridade,Contrato,Cargo,Salario,Moeda,USD,Residencia,Remoto,Empresa,Tamanho_Empresa
0,2025.0,SE,FT,Solutions Engineer,214000,USD,214000,US,100,US,M
1,2025.0,SE,FT,Solutions Engineer,136000,USD,136000,US,100,US,M
2,2025.0,MI,FT,Data Engineer,158800,USD,158800,AU,0,AU,M
3,2025.0,MI,FT,Data Engineer,139200,USD,139200,AU,0,AU,M
4,2025.0,EN,FT,Data Engineer,90000,USD,90000,US,0,US,M
5,2025.0,EN,FT,Data Engineer,80000,USD,80000,US,0,US,M
6,2025.0,SE,FT,Data Scientist,185000,USD,185000,US,0,US,M
7,2025.0,SE,FT,Data Scientist,148000,USD,148000,US,0,US,M
8,2025.0,MI,FT,Data Scientist,135000,USD,135000,CA,0,CA,M
9,2025.0,MI,FT,Data Scientist,108000,USD,108000,CA,0,CA,M

In [16]:
df['Senioridade'].value_counts() ##Contar os valores de uma coluna - SE - Senior - MI - intermediate - EN - Junior - EX - Executive

Senioridade
SE    77241
MI    40465
EN    12443
EX     3200
Name: count, dtype: int64

In [17]:
df['Contrato'].value_counts()

Contrato
FT    132563
CT       394
PT       376
FL        16
Name: count, dtype: int64

In [19]:
df.Remoto.value_counts()

Remoto
0      105312
100     27718
50        319
Name: count, dtype: int64

In [21]:
df.Tamanho_Empresa.value_counts()

Tamanho_Empresa
M    129561
L      3574
S       214
Name: count, dtype: int64

In [22]:
substituir_senioridade = {
    'SE': 'Senior',
    'MI': 'Intermediate',
    'EN': 'Junior',
    'EX': 'Executive'
}
df['Senioridade'] = df['Senioridade'].map(substituir_senioridade)
df['Senioridade'].value_counts()

Senioridade
Senior          77241
Intermediate    40465
Junior          12443
Executive        3200
Name: count, dtype: int64

In [23]:
substituir_contrato = {
    'PT': 'Part-Time',
    'FL': 'Freelance',
    'CT': 'Contrato',
    'FT': 'Full-Time'
}
df['Contrato'] = df['Contrato'].map(substituir_contrato)
df['Contrato'].value_counts()

Contrato
Full-Time    132563
Contrato        394
Part-Time       376
Freelance        16
Name: count, dtype: int64

In [24]:
substituir_Tamanho_Empresa = {
    'S': 'Startup',
    'M': 'Mid-sized',
    'L': 'Large'
}
df['Tamanho_Empresa'] = df['Tamanho_Empresa'].map(substituir_Tamanho_Empresa)
df['Tamanho_Empresa'].value_counts()

Tamanho_Empresa
Mid-sized    129561
Large          3574
Startup         214
Name: count, dtype: int64

In [25]:
substituir_remoto = {
    100: 'Remoto',
    50: 'Hibrido',
    0: 'Presencial'
}
df['Remoto'] = df['Remoto'].map(substituir_remoto)
df['Remoto'].value_counts()

Remoto
Presencial    105312
Remoto         27718
Hibrido          319
Name: count, dtype: int64

In [27]:
df.head(10)

,Ano,Senioridade,Contrato,Cargo,Salario,Moeda,USD,Residencia,Remoto,Empresa,Tamanho_Empresa
0,2025.0,Senior,Full-Time,Solutions Engineer,214000,USD,214000,US,Remoto,US,Mid-sized
1,2025.0,Senior,Full-Time,Solutions Engineer,136000,USD,136000,US,Remoto,US,Mid-sized
2,2025.0,Intermediate,Full-Time,Data Engineer,158800,USD,158800,AU,Presencial,AU,Mid-sized
3,2025.0,Intermediate,Full-Time,Data Engineer,139200,USD,139200,AU,Presencial,AU,Mid-sized
4,2025.0,Junior,Full-Time,Data Engineer,90000,USD,90000,US,Presencial,US,Mid-sized
5,2025.0,Junior,Full-Time,Data Engineer,80000,USD,80000,US,Presencial,US,Mid-sized
6,2025.0,Senior,Full-Time,Data Scientist,185000,USD,185000,US,Presencial,US,Mid-sized
7,2025.0,Senior,Full-Time,Data Scientist,148000,USD,148000,US,Presencial,US,Mid-sized
8,2025.0,Intermediate,Full-Time,Data Scientist,135000,USD,135000,CA,Presencial,CA,Mid-sized
9,2025.0,Intermediate,Full-Time,Data Scientist,108000,USD,108000,CA,Presencial,CA,Mid-sized

In [28]:
df.describe(include='object') ##Valores mais categorios sendo numeros e valores

,Senioridade,Contrato,Cargo,Moeda,Residencia,Remoto,Empresa,Tamanho_Empresa
count,133349,133349,133349,133349,133349,133349,133349,133349
unique,4,4,390,26,102,3,95,3
top,Senior,Full-Time,Data Scientist,USD,US,Presencial,US,Mid-sized
freq,77241,132563,17314,126140,119579,105312,119641,129561